body{
    font-size : 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    line-height : 1.5rem;
}

header {
     background : #333;
     color:#fff;
     padding:1.5rem;
     text-align: center;
     border-bottom: 0.5rem #000 solid;
     margin-bottom: 0.8rem;
}
.nr{
    position: relative;
    top:1rem;
    bottom:1rem;
}
.container{
    width:90%;
    margin:auto;
    padding:10px;
    border:1px solid blue;
    position: relative;
}
#container1i{
    position: relative;
    width:50%;
    left:10rem;
    bottom:8rem;
}
.container2{
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
    margin:auto;
    padding:10px;
    border:1px solid blue;
}
.container3{
    align-items: center;
    justify-content: center;
    width:90%;
    margin:auto;
    padding:10px;
    border:1px solid blue;
}
.container4{
    text-align: center;
    min-height: 40vh;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    width:90%;
    margin:auto;
    padding:10px;
    border:1px solid blue;
}
#items{
    padding:1rem;
}
#items li{
    position: relative;
    right:3rem;
    bottom:1rem;
    list-style: none;
}

.container6{
    width:90%;
    margin:auto;
    padding:10px;
    border:1px solid blue;
}
.container5{
    width:90%;
    margin:auto;
    padding:10px;
    border:1px solid blue;
    display:flex;
    align-items: start; 
    justify-content: space-evenly;
    flex-direction: row;  
}
.container2 button{
    margin:1rem;
}
#form{
    padding:1rem;
    border: 1px dashed black;
}

#post-form{
    width: 30%;
    border : 2px solid black;
    display:flex;
    flex-direction: column;
    align-items:center;

    padding:1rem 1rem;
}

#post-form input{
    width:20%;
}

.fade,.slide,.move{
  min-width: 40vw;
  display:flex; 
  flex-direction: column;
  align-items: center;
}

.move{
    margin-bottom:20rem;
}
.fade-buttons,.slide-buttons, .move-buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:6rem;
    height:6rem;
}



#box1,#box2{
    background:#333;
    color:white;
    width:20rem;
    height: 10rem;
    text-align: center;
    padding: 2rem;
}
#box3{
    background:#333;
    color:white;
    width:5rem;
    height: 5rem;
    text-align: center;
    padding: 2rem;
    position: relative;
}

.container2{
    display:flex;
    flex-wrap: wrap;
    min-height: 40vh;
    position: relative;
}
.container2{
    display:flex;
    flex-wrap: wrap;
    min-height: 40vh;
    position: relative;
}

.container2 div{
    position: absolute;
    top:1rem;
    left:22rem;
   align-self: flex-start;

}
.container2 button{

    width:6rem;
    height: 7rem;
}

.container3{
    min-height: 40vh;
    display :flex;
    flex-wrap: wrap;
    flex-direction:column;
}



